
/* services page style */

.qwe-services-page .qwe-post-wrapper {margin-top: 4vw;margin-bottom:4vw; }
.qwe-services-page .qwe-post-wrapper {margin-left: 20%;margin-right: 20%;width:60%;border:0.1vw solid #999 ;border-radius:1vw;}
.qwe-services-page .qwe-post-wrapper h1 {margin:3%;}
.qwe-services-page .qwe-post-wrapper h1 a{text-decoration: none;color:#444;}
.qwe-services-page .contact-form {margin-left:5%;}

/*.separator-qwe label {color:#043951;}*/
/*.separator-qwe input ,.separator-qwe select {
	border: 0.1vw solid #777;
	box-shadow:inset 1px 1px 3px #000;
	border-radius: 0.5vw;
	height:3vw;
}
*/

.contact-form .qwe-col-sm-6 input , .contact-form .qwe-col-sm-6 select {height:30px;}
.contact-form .qwe-col-sm-6 textarea{height:100px;}

#g55-levelofeducation , #g55-education ,#g55-others ,#g55-day ,#g55-month, #g55-year{height:30px;}

@media only screen and (max-width: 500px){
	.pushbutton-wide {height:30px;}
}

.pushbutton-wide {
	width: 90%;
	animation-name: shake;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

.contact-form label {color:#043951;}
.contact-form input , .contact-form select ,.contact-form textarea {
	border: 0.1vw solid #777;
	box-shadow:inset 1px 1px 3px #000;
	border-radius: 0.5vw;
	height:3vw;

}
.contact-form .grunion-field-label span {color: red;}

.contact-form-comment-g55-coursesandexperience {width: 50%;}

/*
.separator-qwe br {float: left;}
.contact-submit input {width:30%;margin:2% 1%;}

.name-qwe div label ,.name-qwe div input {width:100%;}
.name-qwe div {width:50%;float: left;display: inline-block;} 


.datebirth-qwe div label ,.datebirth-qwe div select {width:90%;}
.datebirth-qwe div {width:25%;float: left;display: inline-block;} 

.emailweb-qwe div label ,.emailweb-qwe div label {width:100%;}
.emailweb-qwe div {width:50%;float: left;display: inline-block;} 

.skills-qwe div label ,.skills-qwe div label {width:100%;}
.skills-qwe div {width:25%;float: left;display: inline-block;} 

.skills-qwe div:last-child {width:50%;float: left;display: inline-block;} 

.mobile-qwe div label ,.mobile-qwe div label {width:100%;}
.mobile-qwe div {width:50%;float: left;display: inline-block;} 

.available-qwe div label  ,.available-qwe div select  {width:70%;}
.available-qwe div {width:50%;float: left;display: inline-block;} 

.availableweek-qwe label {display: inline-block;}
.availableweek-qwe div label ,.availableweek-qwe div input {width:100%;}
.availableweek-qwe div {width:10%;float: left;display: inline-block;} 

.agreement-qwe a , .agreement-qwe div {display: inline-block;}

*/